@page
@model EShopRazorPage.Pages.CategoryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}


<h1>
    List of Categories
</h1>
<a asp-page="Create">Create New</a>
<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Category Name
            </th>
            <th>
                Max Number of Products
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Categories != null)
        {
            foreach (var cat in Model.Categories)
            {
                <tr>
                    <td>
                        @cat.Id
                    </td>
                    <td>
                        @cat.CategoryName
                    </td>
                    <td>
                        @cat.MaxNumberOfProducts
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@cat.Id">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@cat.Id">Delete</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>


